.game {
	position	: absolute;
}
.game-color-primary {
	background	: #ff419d !important;
	border-color	: #ff419d !important;
}
.game-bord {
	position	: relative;
	margin		: 1em 2em;
	border		: 1px inset #dcdcdc;
}
.game-circle {
	min-width	: 15px;
	min-height	: 15px;
	background	: #6b6b6b;
	border		: solid 1px #6b6b6b;
	border-radius	: 50%;
}
